html {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
}

.main {
  background: black;
  border-radius: 8px;
}

.mobile {
  display: none;
}

.header {
  padding: 5px;
  background: linear-gradient(purple, black);
  overflow: hidden;
  border: 2px solid white;
  border-radius: 8px;
}

.header a {
  display: inline-block;
  float: right;
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 10px;
  color: white;
}

.headbutton a:hover {
  background-color: white;
  color:black;
}

.intro {
  font-size: 25px;
  float: left;
}

footer{
  font-size: 10px;
  background: black;
  text-align: center;
  padding: 1px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}

.main {
  text-align: center;
  overflow: hidden;
  color: white;
} 

@media only screen and (max-width: 450px) {
  .header a {
    float: none;
  }
  
  .intro {
    float: none;
    text-align: center;
  }
  
  .headbutton {
    display: none; 
  }
  
  .mobile a {
    display: inline-block;
  }
  
  .mobile a:hover {
    background: white;
    color:black;
  }

    
  .mobile {
    display: block;
    text-align: center;
  } 
}    
