html {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: white;
  background-image: url('https://c.wallhere.com/photos/5c/16/Kawaii_dake_ja_Nai_Shikimori_san_shikimori_anime_girls_anime_pink_hair_simple_background-2107909.jpg!d');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
}

footer {
  text-align: center;
  background: #5e5e5e;
  width: 100%;
  left: 0;
  position: absolute;
  margin-top: auto;
}

.header {
  text-align: center;
  border: double 0.2em transparent;
  border-radius: 10px;
  background-image: linear-gradient(purple, black),
                    linear-gradient(to right, purple, violet);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
